#oc-logo {
  margin-bottom: -64px;
}

.has-space {
  margin-bottom: 1.5rem;
}

.has-space-top {
  margin-top: 1.5rem;
}

.has-space-top {
  margin-top: 1.5rem;
}

.has-space-top.is-medium {
  margin-top: 3rem;
}

.media.is-borderless {
  border: 0 none;
}
