{% extends "./templates/base.njk" %}

{% from "../../templates/macros/header.njk" import header %}
{% from "../../templates/macros/countdown.njk" import countdown %}
{% from "../../templates/macros/checklist.njk" import checkItem %}
{% from "../../templates/macros/section.njk" import section %}

{% macro actionButton() %}
  <div class="has-text-centered">
    {{ caller() if caller }}
    <button class="button is-danger is-large has-text-weight-bold open-modal" data-modal="imf-register-form">
      Register Now!
    </button>
  </div>
{% endmacro %}

{% block body %}
  {{ header(
      s('img/logo-online_commissioner_tran_wht-2x1.png'),
      titleIcon='graduation-cap',
      titleText='Live Workshop'
     )
  }}

  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1 is-spaced has-text-warning">
          FREE LIVE MASTERCLASS
        </h1>

        <h2 class="subtitle is-size-2 has-text-warning has-font-serif">
          "How to start a successful online business in 2018"
        </h2>

        <h2 class="subtitle is-size-3">
          <strong>{{location.headline}}</strong><br>
          {{date}}
        </h2>

        <h3 class="subtitle is-size-4">
          Limited Time Only!<br>
          <span class="subtitle is-size-5 has-text-grey-light">
            Early Bird All Access Expires In...
          </span>
        </h3>

        {{ countdown('2018-05-14') }}
        {{ actionButton() }}
      </div>
    </div>
  </section>

  {% call section(size=8) %}
    <div class="has-text-centered">
      <h4 class="title is-4">
        This <span class="has-text-danger">FREE 2-hour Masterclass</span> in the {{location.full}} area reveals...
      </h4>
      <h1 class="title">
        A Beginner Friendly Blueprint To Turn Your Passion Into A Profitable Online Information Business... Step-By-Step
      </h1>
      <br>
    </div>

    <iframe height="474" width="888" src="https://www.youtube.com/embed/F8UGKd4RQ4I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    {% call actionButton() %}
      <h5 class="title is-5">
        <br>
        Spots Are Filling Up... Claim Your FREE Ticket and Reserve Your Seat Before It's Too Late!
      </h5>
    {% endcall %}
  {% endcall %}

  {% call section('light', size=8) %}
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">About This Event</h1>
        <article class="content is-medium">
          <p>At this FREE 2 Hour Introductory Masterclass you will learn the EXACT proven formula to build a lucrative online business from scratch whilst working just a few hours a week without any experience, technical skills or sales ability.</p>

          <p>Using this process people from all walks of life have quit their JOB and enjoy a life of FREEDOM and ABUNDANCE...</p>

          <p>The IM Freedom Workshop is "the event" you need to attend if you are at all serious about making control of your financial future once and for all.</p>
        </article>
      </div>

      <div class="column is-half">
        <h1 class="title">At this Masterclass,<br>you will...</h1>
        {% call checkItem() %}
          Find out how to select the right business model and why that will impact your bottom line.
        {% endcall %}
        {% call checkItem() %}
          Learn how to select products with high profit margins
        {% endcall %}
        {% call checkItem() %}
          Discover how top earners generate high commissions
        {% endcall %}
        {% call checkItem() %}
          And so much more...
        {% endcall %}
      </div>
    </div>

    {{ actionButton() }}
  {% endcall %}

  {% call section('dark', 'light', size=9) %}
    <h1 class="title has-text-centered">
      Success stories from people just like you
    </h1>

    <div class="columns is-centered">
      <div class="column is-4">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img src="{{ s('img/person-adeline-1x1.png') }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>"This training and business system has had a huge impact on my success. In my first 18 months online, I was able to make over $253,147.89."</p>
              <p>
                <span class="has-text-weight-bold">Adeline Sugianto</span><br>
                Jakarta, Indonesia
              </p>
            </div>
          </div>
        </article>
      </div>

      <div class="column is-4">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img src="{{ s('img/ppl-deborah-1x1.png') }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>"I am a retired school teacher and didn’t know much about online marketing but using Matt’s system, I have already made over $71,945.47 in my spare time."</p>
              <p>
              <span class="has-text-weight-bold">Deborah Robertson</span><br>
                Covington, Georgia
              </p>
            </div>
          </div>
        </article>
      </div>

      <div class="column is-4">
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img src="{{ s('img/ppl-david-1x1.png') }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>"Having multiple sources of income is important to me. Matt’s systems has allowed me to tap into an online income model I was not aware of before."</p>
              <p class="is-text-right">
                <span class="has-text-weight-bold">David Gilks</span><br>
                Perth, Australia
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>

    {{ actionButton() }}
  {% endcall %}

  {% call section(size=8) %}
    <h1 class="title has-text-danger has-text-centered">
      FREE Bonus
    </h1>

    <div class="columns is-centered">
      <div class="column is-4">
        <figure class="image is-5by4">
          <img src="{{ s('img/product-business_system-5x4.png') }}">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-square">
          <img src="{{ s('img/product-limitless-1x1.png') }}">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-5by4">
          <img src="{{ s('img/clip-reports-5x4.jpg') }}">
        </figure>
      </div>
    </div>

    <h3 class="title is-4 has-text-centered">
      All attendees get free access to the revolutionary Business System, the best selling book "Limitless", plus 5 free reports...
    </h3>

    {{ actionButton() }}
  {% endcall %}

  {% call section('light', size=8) %}
    <div class="has-text-centered">
      <h1 class="title">Got a question?</h2>
      <h2 class="subtitle">
        Email <a href="mailto:{{ email }}">{{ email }}</a>
      </h2>
    </div>
  {% endcall %}

  {% include '../../templates/footer.njk' %}

  <div class="modal" id="imf-register-form">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h1 class="title has-text-info">Limited Time Only! REGISTER NOW!</h1>
        <h2 class="subtitle">Select the best time and location</h2>
        <div class="columns is-multiline">
          {% for place in location.places %}
            <div class="column is-half">
              <span class="has-text-weight-bold">{{place.name}}</span><br>
              <label class="radio">
                <input type="radio" name="a">
                12:30 pm
              </label>
              <br>
              <label class="radio">
                <input type="radio" name="a">
                6:00 pm
              </label>
            </div>
            <div class="column is-half">
              <span class="has-text-weight-bold">{{place.date}}</span><br>
              {{place.address|safe}}
            </div>
          {% endfor %}
          <div class="column is-half">
            <div class="field">
              <label class="label">First Name</label>
              <input class="input">
            </div>
            <div class="field">
              <label class="label">Last Name</label>
              <input class="input">
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label class="label">Email</label>
              <input class="input">
            </div>
            <div class="field">
              <label class="label">Phone</label>
              <input class="input">
            </div>
          </div>
          <div class="column has-text-centered">
            <button class="button is-danger is-large has-text-weight-bold">
              Complete Registration
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <script src="{{ s('js/zepto.min.js') }}"></script>
  <script src="{{ s('js/moment.min.js') }}"></script>
  <script src="{{ s('js/modal.js') }}"></script>
  <script src="{{ s('js/countdown.js') }}"></script>
{% endblock %}
