mixin d(c, ...s)
  -
    s = s.map((str) => {
      str = str && String(str).trim()
      str = str ? str.split(/\s+/).map((a) => `is-${a}`) : []
      return str.join(' ')
    })
  div(class=[c].concat(s))&attributes(attributes)
    block

mixin cols(...s)
  +d('columns', ...s)&attributes(attributes)
    block

mixin col(...s)
  +d('column', ...s)&attributes(attributes)
    block
