{% macro actionButton(href, color='danger') %}
  <div class="has-text-centered">
    <a class="button is-large is-{{ color }} is-rounded" href="{{ href }}">
      {{ caller() }}
    </a>
  </div>
{% endmacro %}
