{% macro countdownComponent(name, value='') %}
  <div class="column is-narrow countdown-component of-{{ name }}">
    <code class="box is-size-3 has-text-weight-bold is-marginless">
      &nbsp;&nbsp;
    </code>
    <span class="is-size-6">{{ name }}</span>
  </div>
{% endmacro %}

{% macro countdown(endDate) %}
  <div class="countdown" data-enddate="{{ endDate }}">
    <div class="columns is-centered">
      {% for name in ["days", "hours", "minutes", "seconds"] %}
        {{ countdownComponent(name) }}
      {% endfor %}
    </div>
  </div>
{% endmacro %}
