{% extends "../../templates/email/base.njk" %}

{% macro downloadButton() %}
  <mj-section>
    <mj-column>
      <mj-button href="{{ s(file) }}" background-color="#F44336">
        Download your PDF
      </mj-button>
    </mj-column>
  </mj-section>
{% endmacro %}

{% block body %}
  <mj-container>
    <mj-section>
      <mj-column>
        <mj-image width="100" src="{{ s('img/logo-online_commissioner_tran_blk-2x1.png') }}"/>
        <mj-text mj-class="sub-heading" padding-bottom="0">
          {{ '{{data:name:"Hello there"}}' }}
        </mj-text>
        <mj-text mj-class="heading" padding-top="0">
          Your Enrichment eBook is ready!
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-image width="300" src="{{ s('img/product-enrichment_ebook-3x4.jpg') }}" />
      </mj-column>
      <mj-column>
        <mj-text>
          <p>Your eBook PDF file is ready to be downloaded. I hope you will find the information useful &amp; take action to implement it in your new venture in home-based online business.</p>
        </mj-text>
        <mj-button href="{{ s(file) }}" background-color="#F44336">
          Download your PDF
        </mj-button>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-divider />

        <mj-text>
          <p>Before you dive into the book and start applying it to success, I'd like to take a second to say hello and welcome you. I'm really excited and grateful you've decided to read my eBook.</p>

          <p>Moving forward, here's what you can expect from me.</p>

          <p>I'll be sending you emails about new eBooks, courses, training resources and cool ideas I've come across that will benefit you.</p>

          <p>Sounds good? Great! Here's how we get started...</p>
        </mj-text>

        <mj-text mj-class="heading" font-size="28px">
          Make sure you're getting my emails
        </mj-text>

        <mj-text>
          <p>All my emails are from: <a href="mailto:bakar.rahman@onlinecommissioner.com">bakar.rahman@onlinecommissioner.com</a></p>

          <p>If you aren't getting the emails, you'll miss out on the important updates and new content about what’s working now in this industry.</p>

          <p>Follow the whitelisting instructions on this page. Go and do that now. I'll wait...</p>

          <p><a href="{{ uri('email-white-list') }}">{{ uri('email-white-list') }}</a></p>
        </mj-text>

        <mj-text mj-class="heading" font-size="28px">
          Let's get social
        </mj-text>

        <mj-text>
          <p>I invite you to join me on Facebook: <a href="https://www.facebook.com/my.online.commissioner">https://www.facebook.com/my.online.commissioner</a></p>

          <p>Now, a quick introduction to myself.</p>

          <p>I'm Bakar Rahman, CEO and founder of OnlineCommissioner.com. I'm a retired self-employed marketing and business consultant, create a pension, earning a full-time income from the internet.</p>

          <p>Now a very driven and passionate entrepreneur who is out to teach other ordinary people to do the same.</p>

          <p>My goal is to inspire others in making their retirement the best time of their lives. Now all you need to do is stick with me, read my daily email series, and TAKE ACTION.</p>

          <p>Your next step after this is to watch the <a href="http://track.mobetrack.com/aff_c?offer_id=1722&aff_id={{ affiliateID }}">Free Video</a> about the WiFi Millionaire book.</p>
        </mj-text>

        <mj-image width="336" src="{{ s('img/product-wifi_millionaire_03-5x4.jpg') }}" href="http://track.mobetrack.com/aff_c?offer_id=1722&aff_id={{ affiliateID }}" />

        <mj-text>
          <p>If you have any questions about this whole thing - like whether it's real, or whatever is on your mind... you can always reach out at Facebook: <a href="https://www.facebook.com/my.online.commissioner">https://www.facebook.com/my.online.commissioner</a></p>
        </mj-text>

        <mj-image width="336" src="{{ s('img/person-bakar_rahman_01-4x3.jpg') }}" />
      </mj-column>
    </mj-section>
  </mj-container>
{% endblock %}
