.has-font-serif {
  font-family: 'Roboto Slab', serif;
}

var.cd {
  font-style: normal;
}

ul.ticks li {
  list-style-image: url(../../assets/img/tick.png);
}

.box.cd {
  margin-bottom: 0.25rem;
}

.countdown {
  margin-bottom: 1.5rem;
}

#imf-header {
  padding-top: 0;
  padding-bottom: 0;
}

#imf-logo {
  padding-top: 20px;
}

#imf-oc-logo {
  height: 140px;
  margin-bottom: -20px;
  z-index: 1;
  position: relative;
}

#imf-hero {
  background-color: #000;
  /*height: 628px;*/
  position: relative;
}

#imf-hero::before {
  content: "";
  background-image: url(../../assets/img/photo-2-crop.jpg);
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#imf-hero .hero-body {
  text-align: center;
}

#imf-countdown {
  margin-bottom: 1.5rem;
}

#imf-video {
  width: 100%;
}
