mj-section(background-color='#eee')
  mj-column
    mj-text(align='center' font-size='14px' color='#444')
      p.
        You are currently signed up to receive this type of emails from
        #[a(href=baseURL)= meta.site].
      p
        a(href=email_tags[email_sys].unsub).
          To unsubscribe, click here
      if email_tags[email_sys].provider
        p= email_tags[email_sys].provider
