mj-section(background-color='#eee')
  mj-column
    mj-text(align='center' font-size='14px' color='#444')
      p.
        You are currently signed up to receive this type of emails from
        #[a(href=baseURL)= meta.site].
      p
        a(href='[[WORKFLOW_EXIT_UNSUB_LINK_EN]]').
          To unsubscribe, click here
      p.
        Copyright &copy; 2018 #{meta.site}. All rights reserved.
