{% extends "./base.njk" %}

{% block head %}
  <link rel="stylesheet" href="{{ static }}/css/bulma.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
{% endblock %}
