{% extends "./base.njk" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ s('css/bulma.min.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
{% endblock %}
