<footer class="footer">
  <div class="container has-text-centered">
    <a href="/terms">Terms &amp; Condition</a> &bull;
    <a href="/disclosure">Income Disclosure</a> &bull;
    <a href="/privacy">Privacy Policy</a>
    <p class="has-space-top">
      Copyright 2018 &bull; Online Commissioner &bull; All Rights Reserved
    </p>
  </div>
</footer>
