footer.footer
  .container
    .content.has-text-centered
      a(href=uri('terms')) Terms &amp; Condition
      | &nbsp;&bull;&nbsp;
      a(href=uri('disclosure')) Income Disclosure
      | &nbsp;&bull;&nbsp;
      a(href=uri('privacy')) Privacy Policy
      p Copyright &copy; 2018 &bull; #{meta.site} &bull; All Rights Reserved
