{% extends "../../../templates/base.njk" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ s('enrichment/css/index.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
{% endblock %}
