$family-serif: "PT Serif", serif;
$family-sans-serif: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "bulma/bulma";
@import "./aspectratio";

.countdown {
  margin-bottom: 1.5rem;
}

.has-text-serif {
  font-family: $family-serif;
}

.media.is-borderless {
  border: 0 none;
}
